{% if df %}
<form method="POST" action="{% url 'bookings:update' %}" class="form">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="ADD CITY" class="btn btn-outline-secondary">
</form>
{% else %}
<form method="POST" action="{% url 'bookings:update' %}" class="form">{% csrf_token %}
		<input type="hidden" name="city" value="{{ city.id }}">
		{% if booking.city == city %}
			<button type='submit' class="btn btn-sm btn-danger" style="padding:0px;">Remove</button>
		{% else %}
			<button type='submit' class="btn btn-success">Add City</button>
	{% endif %}
</form>
{% endif %}