{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-lg-3">
		{{ object.event }}<br>
		{{ object.description }}<br>
		<p> Provided by : </p>
	</div>
</div>
<div>{% include 'snippets/eventemflist.html' with emfs=object.emf_set.all %}</div>
<div class="col-12 col-md-6">
	{% include 'snippets/update-booking-event.html' with booking=booking_obj event=object %}
	</div>
<div class="row">
	<a href="{% url 'bookings:booking' %}">Proceed to Book</a>
</div>
{% endblock content %}